{
    "domain": "yourdomain.com",
    "ccp" : {
        "clientID": "your-client-id",
        "secretKey": "your-secret-key",
        "callback": "https://yourdomain.com/your-ccp-callback-url",
        "esi" : "https://esi.evetech.net"
        },
    "mongo": {
        "server": "127.0.0.1",
        "port": 27017,
        "db": "podmail"
    },
    "redis" : {
        "server": "127.0.0.1",
        "port": 6379
    }
}
