body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

hr {
    margin: 5px;
}  

.unread {
    font-weight: bold;
}

.noweight {
    font-weight: normal;
}

.subject-row {
    cursor: pointer;
}

.from {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
    overflow: hidden;
}

.subject {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.strike, .strike span {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

.right {
        text-align: right;
}
