body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

hr {
    margin: 5px;
}  

.unread {
    font-weight: bold;
}

.noweight {
    font-weight: normal;
}

.subject-row {
    cursor: pointer;
}

.from {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    display: inline-block;
    margin-right: 1em;
}

.strike, .strike span {
    text-decoration: line-through;
}
