/* invert filter based dark mode */
body.dark{
    background-color: black;
    font-size: 14px;
    overflow: hidden;
}

.inverse {
    filter: invert(1);
}

img {
    filter: invert(1);
    background-color: #111;
}

#sitelogo, #charimg {
    height: 25px;
    max-height: 25px;
    margin: 0.25em;
}

.capitalize {
    text-transform: capitalize;
}

#content {
    min-height: calc(100vh - 2.71em);
    max-height: calc(100vh - 2.71em);
}

#searchbox {
    width: 100%;
    height: 2em;
}

#itemparent {
    min-height: calc(100vh - 4.72em);
    max-height: calc(100vh - 4.72em);
    overflow-x: hidden;
    overflow-y: scroll;
}

#orders {
    min-height: calc(100vh - 2.72em);
    max-height: calc(100vh - 2.72em);
}

.ordertable {
    overflow-y: scroll;
    padding-right: 0.5em;
    min-height: calc((100vh - 7em) / 2);
    max-height: calc((100vh - 7em) / 2);
}

#orders h6 {
    border-top: solid 1px #ccc;
    margin-top: 2px;
}

.hideit {
    display: none;
}

.messages {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.listing[of='buy'] {
    flex-flow: column-reverse;
}

.mail_headers {
    font-weight: bold;
    border-bottom: solid 1px #eee;
}

.mail_label, .mail_headers, .mail_header {
    width: 100%;
    display: flex;
}

.mail_label, .mail_headers, .mail_header {
    cursor: pointer;
}
.mail_label:hover, .mail_header:hover {
    background-color: orange;
}

.mail_headers span, .mail_header span {
    min-width: 10em;
    padding-left: 1em;
}

.subject {
    width: 100%;
}

.mail_headers {
    font-weight: bold;
    box-shadow: 0px 0px 5px #ccc;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: white;
}


.unread {
    font-weight: bold;
}

@media (max-width: 575px) {
    .xs-hideit {
        display: none;
        transition: display 1s linear;
    }
}

#tqStatus.offline, #tqStatus.offline::before {
    color: cyan; /* red */
    content: "X ";
}

#tqStatus.online, #tqStatus.online::before {
    color: magenta; /* green */
    content: "\2713 ";
}

.resizable {
  resize: horizontal;
  overflow: auto;
  min-width: 250px;
}

.panelsearch {
    min-width: 250px;
    max-width: 500px;
}