{% extends 'base.html' %}

{% block content %}
<hr/>
<div class="col-6 float-lg-right">
<a href='/ccp-login'><img src='https://podmail.zzeve.com/images/ssologin.png'></a></p>
<p>Scopes Requested:</p>
<ul>
<li>esi-mail.read_mail.v1</li>
<li>esi-mail.send_mail.v1</li>
<li>esi-mail.organize_mail.v1</li>
<li>esi-characters.read_notifications.v1</li>
</ul>
<p>Brought to you by Squizz Caphinator.
</div>
<div class="col-6 float-lg-left">
<p><img src='/images/podmail-example.png' align='left' style="left: -2em; padding-right: 2em;">
Easy access to your in game evemails and notifications. PodMail will keep your evemails synced up in game and out, allowing you to mark mails as read, unread, and of course delete them.</p>
<p>To Do:
</p>
<ul>
<li>Adding/Removing labels from mails</li>
</ul>
</div>
{% endblock %}
