{% extends 'base.html' %}

{% block content %}
<hr/>
<div class="col-6 float-lg-right">
<a href='/ccp-login'><img src='https://podmail.zzeve.com/images/ssologin.png'></a></p>
<p>Scopes Requested:</p>
<ul>
<li>esi-mail.read_mail.v1</li>
<li>esi-mail.send_mail.v1</li>
<li>esi-mail.organize_mail.v1</li>
<li>esi-characters.read_notifications.v1</li>
</ul>
<p>Brought to you by Squizz Caphinator.</p>
<p>Ideas? Issues? Complaints? <a href="https://github.com/zKillboard/podmail/issues" target="_blank">GitHub</a> / <a href="https://forums.eveonline.com/t/podmail-beta-an-esi-evemail-client/88490/2" target="_blank">Forums</a> / <a href="https://www.reddit.com/r/evetech/comments/8wczue/beta_podmail_an_esi_evemail_client/" target="_blank">Reddit</a></p>
</div>
<div class="col-6 float-lg-left">
<p><img src='/images/podmail-example-20180713.png' align='left' style="left: -2em; padding-right: 2em; width: 200px;">
Easy access to your in game evemails and notifications. PodMail will keep your evemails synced up in game and out, allowing you to mark mails as read, unread, and of course delete them.</p>
<p style="clear: both;"></p>
<p>Features:
<ul>
<li>View all your EveMails, even the ones you can't see in game.</li>
<li>Send EveMails to characters, your corporation (non-npc only), or your alliance (if you're in one).</li>
<li>Mark read, unread, or delete evemails (and syncs with in game).</li>
<li>View your notifications (last 30 days, older is ignored).</li>
<li>Browser notifications when you get a new eve mail.</li>
<li>Mobile friendly!</li>
<li>PodMail will purge inactive accounts (scopes & evemails) after 7 days.</li>
</ul>
</p>
<p>To Do:
<ul>
<li>Adding/Removing labels from mails</li>
<li>Add Search</li>
<li>Themes</li>
<li>Multi-Char</li>
<li>Map Notifications to look better than default yaml layout.</li>
</ul>
</p>
</div>
{% endblock %}
