<!DOCTYPE html>
<html>
    <head>
        <title>PodMail</title>
        <meta name='description' content='PodMail - an ESI EveMail client'>

        <meta property="og:url" content="https://podmail.zzeve.com">
        <meta property="og:title" content="PodMail - an ESI Evemail client">
        <meta property="og:description" content="Access, manipulate, and send evemails from any web capable device.">
        <meta property="og:site_name" content="PodMail">
        <meta property=”og:image" content="https://podmail.zzeve.com/images/podmail.png">
        <meta property="og:image:width" content="477"/>
        <meta property="og:image:height" content="270"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="/gre/gre.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/podmail.css">
    </head>
    <body>
        <div id="app" class="container-fluid">
        {% include "nav.html" %}

        {% block content %}Default content{% endblock %}
        </div>

        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
        <script src="/gre/jquery.gre.js"></script>
        <script type="text/javascript" src="/js/podmail.js?v={{ random() }}"></script>
    </body>
</html>
