<!DOCTYPE html>
<html>
    <head>
            {% include "meta.html" %}
    </head>
    <body>
<div id="folder-id-content" style="display: none;">
<hr/>
<div class="form-check" id="checkbox-master">
    <input  id="mass-checkbox" type="checkbox" class="form-check-input mail-checkbox"/>
    <button id="mass-read" class="btn btn-sm btn-secondary" disabled="true" data-toggle="tooltip" title="Mark as Read"><i class="fas fa-envelope-open"></i></button>
    <button id="mass-unread" class="btn btn-sm btn-secondary" disabled="true" data-toggle="tooltip" title="Mark as Unread"><i class="fas fa-envelope"></i></button>
    <button id="mass-delete" class="btn btn-sm btn-secondary" disabled="true" data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt"></i></button>
    {% set compose_target = '' %}
<span style="padding-left: 3.5em;"><strong>{{ folder.name }}{% if folder.label_id == 4 %} {{ character.corporation_name }}{% set compose_target = character.corporation_name %}{% elseif folder.label_id == 8 %} {{ character.alliance_name }}{% set compose_target = character.alliance_name %}{% elseif folder.label_id > 9999999 and folder.label_id < 900000000 %}{% set compose_target = folder.name %}{% endif %}</strong>
{% if compose_target != '' %}
        <button id='compose-target' class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Send EveMail to {{ compose_target }}" compose-target="{{ compose_target }}"><i class="fas fa-arrow-right"></i></button>
{% endif %}
</span>
<div class="float-right">
{% set start = (page * 25) - 24 %}
<a href="" id="prevpage"><i class="fas fa-chevron-left"></i></a> {% if mails.length == 0 %}0{%else%}{{ start }}{% endif %} - {{ start + mails|length - 1 }} of {{ count }} <a href="" id="nextpage" max="{{ max }}"><i class="fas fa-chevron-right"></i></a>
</div>
</div>
{% if mails|length == 0 %}
    <hr/><br/><br/><center><strong><i>
    {% if iterated == false %}
        Please wait a moment, your evemails are being loaded...
    {% else %}
        Nothing to see here...
    {% endif %}
    </i></strong></center>
{% else %}
{% for mail in mails %}
<div class="form-check" id="div-mail-{{ mail.mail_id }}">
<hr/>
    <input type="checkbox" id="checkbox-{{ mail.mail_id}}" mail_id="{{ mail.mail_id }}" class="form-check-input mail-checkbox"/>
    <a class="subjectrow" id="mail-{{ mail.mail_id }}" href="/mail/{{ mail.mail_id }}">
        <div class="{{ (mail.is_read == 1 ) ? "" : "unread" }} {{ mail.deleted == 1 ? "strike" : "" }} mail-{{ mail.mail_id}}">
            <span class="float-right dnone dsmall-block">{{ mail.timeago }}</span><span class="from">{% if character_id == mail.from %}To: {{ mail.recipients|first.recipient_name }}{% else %}{{ mail.from_name }}{% endif %}{% if mail.recipients|length > 1 %}, ...{% endif %}</span><br class="d-block d-sm-none"/><span class="subject">{{ mail.subject|raw }}</span>
        </div>
    </a>
</div>
{% endfor %}
<hr/>
{% endif %}
<script type="text/javascript">
window.onload = function() {
    if (!window.jQuery) {  
        // jQuery is not loaded
        sessionStorage.setItem("folder_id", {{ folder.label_id }});
        window.location = "/";
    }
}
</script>
    </body>
</html>
