<hr/>
{% if mails|length == 0 %}
    {% if iterated == falsee %}
        <i>Please wait a moment, your evemails are being loaded...</i>
    {% else %}
        <i>No mails to display...</i>
    {% endif %}
{% else %}
<div class="float-right">
<a href='' id='prevpage'>&lt;</a> Page {{ page }} / {{ max }} <a href='' id='nextpage' max='{{ max }}'>&gt;</a>
</div>
<br/>
{% for mail in mails %}
    <hr/>
    <a class="subjectrow" id="mail-{{ mail.mail_id }}" href="/mail/{{ mail.mail_id }}">
        <div class="{{ (mail.is_read == 1 ) ? '' : 'unread' }} {{ mail.deleted == 1 ? 'strike' : '' }}">
            <span class="from">{{ mail.from_name }}</span><span class='subject'>{{ mail.subject|raw }}</span><span class='float-right'>{{ mail.dttm }}</span>
        </div>
    </a>
{% endfor %}
{% endif %}
