<nav class="navbar navbar-expand navbar-light bg-light">
    <button class='btn btn-light btn-small' id='left-hamburger'><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand" href="/"><img src='/images/podmail.png' height='32' /><span class="hidden-md-down"> PodMail (beta)</span></a>
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav m1-auto">
        {% if character_id %}
            <li class="nav-item dropdown"><div>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    <img src='https://imageserver.eveonline.com/Character/{{ character_id }}_32.jpg' width='32' height='32' class='rounded'/>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style='min-width: 100px; max-width: 300px;'>
                    <span class="dropdown-header right">{{ character_name }}</span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item right" href="/logout">Logout</a>
                </div></div>
            </li>
        {% endif %}
    </ul>
</nav>
